html {
  background: black;
  background-image: url(ライオン.jpg);
  background-position: right bottom;
  background-repeat:  no-repeat;
  background-size:1300px auto;
  color: #eee;
  height: 1000px;
}  

body {
  width: 800px;
  padding-left: 10px;
  align-items: left;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.nav {
  font-size: 21px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  text-align: center;
	height: 46px;
	width: 110px;
  list-style-type : none;
  /* background : linear-gradient(rgb(226, 229, 250) 75%, rgba(240, 216, 136, 0.9) 100%); */
  display: inline-flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  cursor  : pointer;
  padding : 4px 4px;
}

.nav a {
  display : block;
  padding : 10px;
  font-size : 16px;
	width: 95px;
  text-decoration : none;
  border-radius : 5px;
  position : relative;
  top : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #030172;
  background-color: rgb(237, 246, 247);
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

li a:after {
  display  :flex;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : rgb(237, 246, 247) transparent transparent transparent;
  transition   : all .4s;
}

a {
  text-decoration:none;
}


.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: red;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 20px;
  border-bottom: 4px solid rgb(124, 0, 0);
  position: absolute;
  bottom: 50px;
  left: 300px;
}

.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-family: fantasy;
}

.earth {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
}

.earth:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url(https://drive.google.com/uc?export=view&id=11chGBx0vAj79X4ph_fUXDQIYdRy9uqBV);
  background-position: 0 0;
  background-size: auto 100%;
  transform: rotate(23.4deg);
  animation: rotation 16s linear infinite;
}

@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}